html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body {
    height: 100%;
    margin: 0;
    line-height: 1.5;
    color: #121212;
}
textarea,
input,
button {
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    box-shadow:
        0 0px 1px hsla(0, 0%, 0%, 0.2),
        0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    line-height: 1.5;
    margin: 0;
}
button {
    color: #3992ff;
    font-weight: 500;
    cursor: pointer;
}

textarea:hover,
input:hover,
button:hover {
    box-shadow:
        0 0px 1px hsla(0, 0%, 0%, 0.6),
        0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
    transform: translateY(1px);
}

#contact h1 {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
#contact h1 form {
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
    margin-bottom: 0;
}
#contact h1 form button {
    box-shadow: none;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0;
}
#contact h1 form button[value="false"] {
    color: #a4a4a4;
}
#contact h1 form button[value="false"]:hover,
#contact h1 form button[value="true"] {
    color: #eeb004;
}

form:has(input[value="DELETE"]) button {
    color: #f44250;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#root {
    display: flex;
    height: 100%;
    width: 100%;
}

#sidebar {
    width: 22rem;
    background-color: #f7f7f7;
    border-right: solid 1px #e3e3e3;
    display: flex;
    flex-direction: column;
}

#sidebar > * {
    padding-left: 2rem;
    padding-right: 2rem;
}

#sidebar h1 {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1rem 2rem;
    border-top: 1px solid #e3e3e3;
    order: 1;
    line-height: 1;
}

#sidebar h1::before {
    content: url('data:image/svg+xml,<svg width="64" height="20" viewBox="0 0 64 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_11_22)"><path d="M13.7108 14.6822H9.60074L8.22858 19.9744H12.3367L13.7108 14.6822Z" fill="%23FFD400" /><path d="M11.3952 7.76151L10.0611 12.9062H14.1717L15.5073 7.76151H11.3952Z" fill="%23FFD400" /><path d="M16.0067 5.83754L17.3422 0.693848H13.2282L11.8941 5.83754H16.0067Z" fill="%23FFD400" /><path d="M9.5978 14.6822H5.48771L4.11554 19.9744H8.22416L9.5978 14.6822Z" fill="%2364C146" /><path d="M11.8941 5.83754L13.2292 0.693848H9.11571L7.78157 5.83754H11.8941Z" fill="%2364C146" /><path d="M7.28267 7.76151L5.94853 12.9062H10.0591L11.3947 7.76151H7.28267Z" fill="%2364C146" /><path d="M5.48226 14.6822H1.37217L0 19.9744H4.1086L5.48226 14.6822Z" fill="%231A72FF" /><path d="M3.1672 7.76151L1.83306 12.9062H5.94365L7.27876 7.76151H3.1672Z" fill="%231A72FF" /><path d="M7.77859 5.83754L9.11372 0.693848H5.00017L3.66603 5.83754H7.77859Z" fill="%231A72FF" /><path d="M21.9146 14.6822L20.5425 19.9744H33.7036L34.8346 15.612C34.9562 15.1431 34.6145 14.6822 34.1442 14.6822H21.9142H21.9146Z" fill="black" /><path d="M56.1617 0.694305H25.5421L24.2081 5.83851H49.0088C49.9419 5.83851 50.5865 6.26925 50.4482 6.80051C50.3105 7.33176 49.4425 7.76249 48.51 7.76249H23.7092L22.3751 12.9072H36.5345C36.9365 12.9072 37.3301 13.0261 37.6694 13.2497L47.6397 19.9759H62.9618L52.4837 12.9077H52.994C57.9823 12.9077 62.623 10.6046 63.3593 7.76352L63.8587 5.83954C64.5958 2.99848 61.1495 0.695314 56.1612 0.695314L56.1617 0.694305Z" fill="black" /><path d="M17.7724 14.6822H13.6624L12.2902 19.9744H16.3988L17.7724 14.6822Z" fill="%23E561C3" /><path d="M15.4574 7.76151L14.1233 12.9062H18.2339L19.5689 7.76151H15.4574Z" fill="%23E561C3" /><path d="M20.0688 5.83754L21.4039 0.693848H17.2904L15.9562 5.83754H20.0688Z" fill="%23E561C3" /><path d="M21.885 14.6822H17.7749L16.4028 19.9744H20.5109L21.885 14.6822Z" fill="%23FF3000" /><path d="M19.5694 7.76151L18.2354 12.9062H22.346L23.6815 7.76151H19.5694Z" fill="%23FF3000" /><path d="M24.1809 5.83754L25.5165 0.693848H21.4024L20.0683 5.83754H24.1809Z" fill="%23FF3000" /></g><defs><clipPath id="clip0_11_22"><rect width="64" height="20" fill="white" /></clipPath></defs></svg>');
    margin-right: 0.5rem;
    position: relative;
    top: 1px;
}

#sidebar > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e3e3e3;
}

#sidebar > div form {
    position: relative;
}

#sidebar > div form input[type="search"] {
    box-sizing: border-box;
    width: 100%;
    padding-left: 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0.625rem 0.75rem;
    background-size: 1rem;
    position: relative;
}

#sidebar > div form input[type="search"].loading {
    background-image: none;
}

#search-spinner {
    width: 1rem;
    height: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
    animation: spin 1s infinite linear;
    position: absolute;
    left: 0.625rem;
    top: 0.75rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#sidebar nav {
    flex: 1;
    overflow: auto;
    padding-top: 1rem;
}

#sidebar nav a span {
    float: right;
    color: #eeb004;
}
#sidebar nav a.active span {
    color: inherit;
}

i {
    color: #818181;
}
#sidebar nav .active i {
    color: inherit;
}

#sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#sidebar li {
    margin: 0.25rem 0;
}

#sidebar nav a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    white-space: pre;
    padding: 0.5rem;
    border-radius: 8px;
    color: inherit;
    text-decoration: none;
    gap: 1rem;
    transition: background-color 100ms;
}

#sidebar nav a:hover {
    background: #e3e3e3;
}

#sidebar nav a.active {
    background: hsl(224, 98%, 58%);
    color: white;
}

#sidebar nav a.pending {
    animation: progress 2s infinite ease-in-out;
    animation-delay: 200ms;
}

@keyframes progress {
    0% {
        background: #e3e3e3;
    }
    50% {
        background: hsla(224, 98%, 58%, 0.5);
    }
    100% {
        background: #e3e3e3;
    }
}

#detail {
    flex: 1;
    padding: 2rem 4rem;
    width: 100%;
}

#detail.loading {
    opacity: 0.25;
    transition: opacity 200ms;
    transition-delay: 200ms;
}

#contact {
    max-width: 40rem;
    display: flex;
}

#contact h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
}

#contact h1 + p {
    margin: 0;
}

#contact h1 + p + p {
    white-space: break-spaces;
}

#contact h1:focus {
    outline: none;
    color: hsl(224, 98%, 58%);
}

#contact a[href*="bsky"] {
    display: flex;
    font-size: 1.5rem;
    color: #3992ff;
    text-decoration: none;
}
#contact a[href*="bsky"]:hover {
    text-decoration: underline;
}

#contact img {
    width: 12rem;
    height: 12rem;
    background: #c8c8c8;
    margin-right: 2rem;
    border-radius: 1.5rem;
    object-fit: cover;
}

#contact h1 ~ div {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
}

#contact-form {
    display: flex;
    max-width: 40rem;
    flex-direction: column;
    gap: 1rem;
}
#contact-form label {
    display: flex;
    gap: 1rem;
}
#contact-form label span {
    width: 8rem;
}
#contact-form label input,
#contact-form label textarea {
    flex-grow: 2;
}

#contact-form-avatar {
    flex-grow: 0;
}

#contact-form-avatar img {
    width: 12rem;
    height: 12rem;
    background: hsla(0, 0%, 0%, 0.2);
    border-radius: 0.5rem;
    object-fit: cover;
}

.avatar-upload {
    display: block;
    text-align: center;
    margin-top: 0.5rem;
    cursor: pointer;
}

.avatar-upload span {
    display: inline-block;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    white-space: nowrap;
    color: #3992ff;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    box-shadow:
        0 0px 1px hsla(0, 0%, 0%, 0.2),
        0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    cursor: pointer;
}

.avatar-upload span:hover {
    box-shadow:
        0 0px 1px hsla(0, 0%, 0%, 0.6),
        0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.avatar-upload span:active {
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
    transform: translateY(1px);
}

#contact-form p:last-child {
    display: flex;
    gap: 0.5rem;
    margin: 0 0 0 9rem;
}

#contact-form p:last-child button[type="button"] {
    color: inherit;
}

#zero-state {
    margin: 2rem auto;
    text-align: center;
    color: #818181;
}

#zero-state a {
    color: inherit;
}

#zero-state a:hover {
    color: #121212;
}

/* #zero-state:before {
    display: block;
    margin-bottom: 0.5rem;
    width: 100%;
    max-width: 200px;
    height: auto;
    content: url("https://remix.run/marketing/racecar-teaser-hero.webp");
} */

#zero-state::before {
    content: "";
    display: block;
    margin: 0 auto 4rem;

    width: 100%;
    aspect-ratio: 157 / 36;
    background: url("https://remix.run/marketing/racecar-teaser-hero.webp") center / contain
        no-repeat;
}

#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#detail p.loading {
    position: absolute;
    top: 50%;
    left: 60%;
}
p.loading {
    margin: auto;
}
